@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Added to remove default margin */
}


.converter {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: #666;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: none;
    color: none;
    border: #1e6a00 0.1rem solid;
    cursor: pointer;
  
}

.button {
    margin-top: 1rem;
}

button:hover {
    background-color: #72c650;
}

.result {
    margin-top: 20px;
    text-align: center;
}
.pic-container {
    height: 450px;
    width: 450px;
    margin-top: -3rem;
    margin-right: 3rem;
    display: flex; /* Added to align image properly */
    justify-content: center;
    align-items: center;
}

/* Style for the conversion result box */
#result {
    border: 2px solid #4CAF50; /* Green border */
    padding: 10px; /* Space inside the box */
    background-color: #f9f9f9; /* Light gray background */
    color: #333; /* Dark text color */
    font-size: 16px; /* Larger font size */
    border-radius: 8px; /* Rounded corners */
    width: fit-content; /* Adjust the box width to fit the content */
    text-align: center; /* Center the text inside the box */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    width: 20%;

    position: fixed; /* Fixes the position relative to the viewport */
    bottom: 120px; /* Distance from the bottom of the screen */
    left: 67.3%; /* Center the box horizontally */
    transform: translateX(-50%); /* Adjust position to truly center it */
}
.hidden {
    display: none;
}





